body {
  /* margin: 0; */
  /* display: flex; */
  /* place-items: center; */
  /* min-width: 320px; */
  /* min-height: 100vh; */
  background-color: lightgray;
}

#avatar {
  width: 150px;
}
 
img {
  width: 400px;
}























/* #digitals{
  margin: 50px;
  color: greenyellow;
}
#digitals>div{
  padding: 10px;
  background: rgb(119, 117, 117);
  border: 1px solid white;
}
#digitalColor {
  background-color:black;
  width: 100px;
  text-align: center;
  padding: 5px;
}

img {
  width: 200px;
} */