body {
  /* margin: 0; */
  /* display: flex; */
  /* place-items: center; */
  /* min-width: 320px; */
  /* min-height: 100vh; */
  background-color: rgb(6, 6, 6);
  color: aliceblue;
  transition: 1s !important;
  scroll-behavior: smooth;
  /* overflow: hidden; */
}



#menu {
  display: flex;

}

#menu>div {
  width: 20%;
  background-color: gray;
  margin: 10px;
}


#menu>div:hover {
background-color: green;
transition: 1s;
font-family: cursive;
}




#avatar {
  width: 150px;
}
 
#star {
  display: flex;
  gap: 10px;
}

#star>div {
  cursor: pointer;
  color: gray;
}


.switcher {
  color:aliceblue;
  width: 100px;
  height: 100px;
  margin: 20px;
  border-radius: 50%;
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;
}




#diagram {
  display: flex;
  height: 200px !important;
  background-color: rgb(127, 193, 28) !important;
  align-items: flex-end;
}
#diagram>div {
  border:  1px solid red;
  height: 100px;
  width: 50px;
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color: white !important;
}


#createDiv, #deleteDiv {
  background:linear-gradient(45deg, blue, red);
  width: 120px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin: 20px;
}
#deleteDiv {
  background: black;
}

#settings {
  background-color: red;
  width: 100px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin: 5px;
}

#name {
  background-color: rgb(226, 119, 137);
  width: 250px;
  color: aliceblue;
  height: 50px;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;


}





#btn>button {
  width: 100px;
  margin: 15px;
  background-color: rgb(9, 132, 132);
  color: white;
  padding: 5px;
  border-radius: 5px;
}

#btn>button:hover {
  background-color: rgb(31, 186, 186);
  transition: .5s;
  
}



#advertisment{
  padding: 3px;
  font-size: 1.2em;
  margin: 5px -10px;
  animation: adver 15s linear infinite;
  margin-left: -650px;
}

@keyframes adver {
  0% {
    margin-left: 250px;
  }
  100% {
    /* margin-left: -580px; */
    
  }
}


#advertismentBox {
  background-color: rgb(142, 179, 209);
  width: 250px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 10px;
  overflow: hidden;
  white-space: nowrap;
  font-family: sans-serif;
  
  
}



#title {
  color:  red;
  background-color: aqua;
  /* font-size: 26px; */
  padding: 30px;
  margin: 15px;
}

.title2 {
  color:  rgb(40, 5, 95);
  background-color: darkgoldenrod;
  width: 100px;
  margin: 10px;
}

.name {
  color:  rgb(40, 5, 95);
  background-color: rgb(24, 119, 5);
  width: 100px;
  margin: 10px;
}

.text {
font-size: 25px;
font-weight: 600;

}
