body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: lightgray;
}

#home{
  margin: 50px;
  color: greenyellow;
}
#home>div{
  padding: 10px;
  background: rgb(119, 117, 117);
  border: 1px solid white;
}